.nav-tabs {
    background-color: $light-grey;
    border-radius: 10px;
    .nav-link {
        background-color: $light-grey;
        color: $primary;
        font-weight: bold;
        border-radius: 10px;
        padding: 1em 2.5em;

        &:hover {
            background-color: #DEE6F3;
        }

        &.active{
            background-color: $primary;
            color: white;
        }
    }
}

@media only screen and (max-width: 768px) {
    .nav-link {
        width: 100%;
        text-align: center;
    }
}